* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #2b2b2941;
}

a {
  text-decoration: none;
  color: rgb(39, 38, 38);
}

.header {
  background-color: #000;
  color: #fff;
  padding: 0.5rem 1.3rem;
  margin: 0 0 1rem 0;
  box-shadow: 2px 2px 2px 2px #0000002f;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar_left {
  margin: 0 0 0 1rem;
}

.navbar_left .navbar_logo {
  font-size: 2rem;
  font-style: italic;
  color: #fff;
}

.navbar_right {
  margin: 0 1rem 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.navbar_right .navbar_item {
  margin: 0.5rem;
  color: #fff;
  transition: 0.5s ease all;
}

.navbar_right .navbar_item:hover {
  font-size: 1.2rem;
}

.header_content h3 {
  text-align: center;
}

.form_input {
  padding: 0.5rem 1.3rem;
  border: none;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.404);
  outline: none;
  border-bottom: rgb(39, 38, 38) 0.1rem solid;  
}

.form_btn {
  padding: 0.5rem 1.3rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #a3de4b77;
  outline: none;
  border-bottom: rgb(39, 38, 38) 0.1rem solid;
  margin: 0 0 0 1rem;
  transition: 0.5s ease all;
}

.form_btn:hover {
  background-color: #a3de4b;
}

.container {
  margin: 0 auto;
  padding: 0.5rem 1.3rem;
  border: 0.01rem solid #000;
  border-radius: 0.5rem;
  margin: 0.5rem 3rem;
}

.container_ar {
  margin: 1rem 0;
}